{% extends "sfuanime/layout.html" %}

{% block content %}
{% load static %}
<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'sfuanime:detail' question.id %}">sadasdasd{{ question.question_text }}</a></li>
          {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
-->



<div class = "news-container"style="height:1000px;">

  <!--
<div class = "row" >
  <div class = "col-sm-8" >
  <h1 style="font-size:60px;font-style:bold;padding-left:400px;padding-top:40px;"> Gallery </h1>
</div>
</div>

    <div class = "row" style="width:80%;">

     {% for g in gall %}

        <div class="col-sm-4">
             <img src="/static/{{g.hotel_Main_Img}}" width="60%">
        </div>

     {% endfor%}
     </div>
-->

  <h1 style="font-size:46px;padding-left:400px;padding-top:40px;"><b> GALLERY</b> </h1>
  <div align="center">
      <button class="btn btn-default filter-button btn-lg" data-filter="all">All</button>
      <button class="btn btn-default filter-button btn-lg" data-filter="Collab">Collab</button>
      <button class="btn btn-default filter-button btn-lg" data-filter="Mascot">Mascot</button>
        </div>
     <div class = "row" >
       <div class = "col-sm-8" >

         <div class="gallery-section">


               {% for g in gall %}
               <div class="gallery_product col-lg-3  filter {{g.tag}}">

               <a href="{{ MEDIA_URL }} /media/img/index-gallery/{{g.title}}"  >
                 <img src="{{ MEDIA_URL }} /media/img/index-gallery/{{g.title}}"
                 class="img-responsive">
               </a>
               </div>

               {% endfor %}



         </div>
     </div>
     </div>


</div>



<script>
  $(".gallery").magnificPopup({
    delegate: 'a',
    type: 'image',
    gallery:{
      enabled: true
    }
  });
</script>





    <script>
      $(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');

        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');

        }
    });

    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

});
</script>
</section>





</body>

{% endblock %}



</html>
